.data-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
  }
  
  .data-table td, 
  .data-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .data-table tr:nth-child(even){
    background-color: rgba(221, 221, 221, 0.212);
  }
  
  .data-table tr:hover {
    background-color: #f2f2f2;
  }
  
  .data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #01987a;
    color: white;
  }
  
  .data-table-2 td {
    padding: 8px 0px;
    border: none;
  }
  
  .data-table-2 tr:nth-child(even) {
    background: transparent;
  }
  
  .search {
    margin: 10px 0;
  }
  
  .search input {
    border: 2px solid #01987a;
    border-radius: 5px;
    margin-right: 10px;
    padding: 8px;
  } 
  
  .search input:focus-visible {
    outline: 1px solid #01987a;
  }
  
  .search button {
    background-color: #01987a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: .2px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    border-radius: 5px;
    padding: 10px;
  } 
  
  .not-found {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
  }