<h1>{{title}}</h1>

<div class="search">
  <input type="text" [(ngModel)]="searchText">
  <button (click)="search()" class="search-button">Search</button>
</div>

<table class="data-table">
  <tr>
    <th *ngFor="let col of columns">{{col}}</th>
  </tr>
  <tr *ngFor="let data of dataSource">
    <td>{{data.work_order_id}}</td>
    <td>{{data.description}}</td>
    <td>{{data.received_date}}</td>
    <td>
      <table class="data-table-2" *ngIf="data.assigned_to.length; else assigned">
        <tr *ngFor="let assigned of data.assigned_to">
          <td>{{data.assigned_to[0].person_name}}</td>
          <td>{{data.assigned_to[0].status}}</td>
        </tr>
      </table>
      <ng-template #assigned> Not assigned </ng-template>
    </td>
    <td>{{data.status}}</td>
    <td>{{data.priority}}</td>
  </tr>
</table>

<div class="not-found" *ngIf="dataSource.length < 1">Not found matching data ;(</div>

